@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   background-color: #fff;
}

.web-logo {
   display: flex;
   align-items: center;
   gap: 20px;
}

.wrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 1200px;
}

header {
   background-color: #fff;
   padding: 20px 0;
}

header .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .web-logo h1 {
   font-size: 20px;
   color: black;
}

header .navbar ul {
   list-style: none;
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   gap: 30px;
}

header .navbar a {
   text-decoration: none;
   color: black;
}

header .navbar a:hover {
   font-weight: bold;
   color: purple;
}

h1 {
   color: Black;
}

h2 {
   color: rgb(137, 129, 129);
   padding-bottom: 25px;
   text-transform: uppercase;
}

.logo-alignment {
   width: 50px;
   height: auto;
   display: block;
}

@keyframes pop {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.4);
   }
   100% {
      transform: scale(1);
   }
}

footer {
   background-color: black;
   padding-top: 30px;
   padding-right: 0;
   padding-bottom: 15px;
   padding-left: 0;
}

.footer-container {
   display: flex;
   justify-content: flex-start;
   gap: 100px;
   margin: 0 0 0 32px;
}

.column ul {
   list-style: none;
   padding: 0;
}

.column ul li {
   margin: 0 0 10px 0;
}

.column ul li a {
   color: white;
   text-decoration: none;
}

.column ul li a:hover {
   text-decoration: underline;
}

.social {
   display: flex;
   justify-content: flex-start;
   margin-top: 35px;
   width: 95%;
   gap: 5px;
}

.footer-copyright {
   font-size: 15px;
   color: white;
   padding-top: 20px;
   margin-left: 30px;
}

.wrapper.social a {
   margin: 0 10px;
   font-size: 20px;
   color: rgb(137, 129, 129);
}

.wrapper.social a:hover {
   color: white;
}

.wrapper.social a:active {
   color: white;
   animation: pop 0.4s ease-in-out;
}

.image-hero {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 85vh;
   display: flex;
   align-items: center;
}

.image-hero img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main .hero-p {
   position: absolute;
   left: 5%;
   top: 50%;
   transform: translateY(-50%);
   color: white;
   max-width: 500px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
   z-index: 1;
}

.hero-p h1 {
   font-size: 3rem;
   margin-bottom: 20px;
   font-family: 'Raleway', sans-serif;
   color: white;
}

.hero-p p {
   font-size: 1.1rem;
   line-height: 1.5;
   width: 60%;
}

.about {
   margin-top: 15px;
   padding: 30px 0;
}

.about h3 {
   font-size: 36px;
   margin-bottom: 15px;
   color: black;
}

.about p {
   font-size: 15px;
   margin-bottom: 15px;
   color: #372e2e;
   padding-bottom: 10px;
}
